@page "/registros/details/{Id:int}"
@inject HttpClient Http
@using Estacionamento.MAUI.Models

<h3>Detalhes do Registro</h3>

@if (registroEstacionamento == null)
{
    <p><em>Carregando...</em></p>
}
else
{
    <p><strong>ID:</strong> @registroEstacionamento.Id</p>
    <p><strong>Veículo:</strong> @registroEstacionamento.VeiculoId</p>
    <p><strong>Vaga:</strong>  @registroEstacionamento.VagaId</p>
    <p><strong>Entrada:</strong> @registroEstacionamento.DataHoraEntrada</p>
    <p><strong>Saída:</strong> @registroEstacionamento.DataHoraSaida</p>
    <p><strong>Valor Final:</strong> @registroEstacionamento.ValorFinal</p>

    <a href="#" class="btn btn-primary">Editar</a>
    <a href="#" class="btn btn-secondary">Voltar</a>
}

@code {
    [Parameter]
    public int Id { get; set; }
    private RegistroEstacionamento? registroEstacionamento;
    protected override async Task OnInitializedAsync()
    {
        registroEstacionamento = await Http.GetFromJsonAsync<RegistroEstacionamento>($"https://localhost:4000/api/RegistrosEstacionamento/{Id}");
    }
}
